# ==========================================
# DATABASE SETTINGS
# ==========================================
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=db_name

# ==========================================
# SECURITY & JWT SETTINGS
# ==========================================
# Security key used to sign short-lived Access tokens
SECRET_KEY=your_secret_key_here
# Security key used to sign long-lived Refresh tokens
REFRESH_SECRET_KEY=your_refresh_key_here

ALGORITHM=HS256
# Access token lifespan (1 hour)
ACCESS_TOKEN_EXPIRE_MINUTES=60
# Refresh token lifespan (30 days)
REFRESH_TOKEN_EXPIRE_DAYS=30